.container {
  width: 70%;
  margin: auto;
  text-align: center;

}

/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960)  */
 @media only screen and (max-width: 479px){
    .container { width: 90%; }
}



.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px;
  /* margin: 30px; */
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

#refreshPage {
  /* margin: 0 auto; */
  padding-top: 10px;

}


/* #refreshPage {
  margin: 0 auto;
  padding-top: 10px;

} */


.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
  /* border-radius */
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 
}

